@(meals: List[Meal])

@main("My Meals") {
    @if(Http.Context.current().session().get("admin") != null && Http.Context.current().session().get("admin").equals("true")) {
        <div class="row">
            <div class="col-sm-6">

            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <a href="@routes.MealController.create()" class="btn btn-default">Create Meal</a>
                </div>
            </div>
        </div>
    }
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Current Priority</th>
                <th>Priority Gain</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        @for(meal <- meals) {
            <tr>
                <td>@meal.getId()</td>
                <td>@meal.getName()</td>
                <td>@meal.getDescription()</td>
                <td>@meal.getImage()</td>
                <td>@meal.getCurrentPriority()</td>
                <td>@meal.getPriorityGain()</td>
                <td>
                    <a class="btn btn-xs btn-success" href="@routes.MealController.detail(meal.getId())">View</a>
                    @if(Http.Context.current().session().get("admin") != null && Http.Context.current().session().get("admin").equals("true")) {
                        <a class="btn btn-xs btn-primary" href="@routes.MealController.edit(meal.getId())">Edit</a>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
}